@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --font: "Barlow Semi Condensed", sans-serif;
  --purple50: hsl(260, 100%, 95%);
  --purple300: hsl(264, 82%, 80%);
  --purple500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey100: hsl(214, 17%, 92%);
  --grey200: hsl(0, 0%, 81%);
  --grey400: hsl(224, 10%, 45%);
  --grey500: hsl(217, 19%, 35%);
  --darkblue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  --greyShadow: hsla(227, 5%, 63%, 0.788);
}

*, *::after, *::before{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html, body{
  min-height: 100vh;
}
body{
  background-color: var(--purple50);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);  
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem;
}

.content{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  gap: 2rem;
}

.avatar{
  display: flex;
}
img{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  width: 3rem;
  margin-right: 1rem;
  
}
.title{
  color: var(--grey100);
  font-size: 1.2rem;
  font-weight: 600;
}
.card:nth-child(3) p.title,
.card:nth-child(5) p.title{
color: var(--grey500);
}
.title span{
  display: block;
  margin-top: .2rem;
  font-size: 1rem;
  font-weight: 300;
}
.desc{
  color: var(--grey100);
  font-size: 1.1rem;
  line-height: 1.6rem;

}
.card:nth-child(3) p.desc,
.card:nth-child(5) p.desc{
  color: var(--grey500);
}

h2{
  color: var(--grey100);
  font-size: 1.5rem;
  font-weight: 600;
  margin: .5rem 0rem 1.2rem;
}
.card:nth-child(3) h2,
.card:nth-child(5) h2{
color: var(--grey500);
}

.card{
   padding: 2rem 3rem;
   border-radius: .5rem;
   box-shadow: 1rem 1rem 1.5rem var(--greyShadow);
}
.daniel{
  background-color: var(--purple500);
  background-image: url("images/bg-pattern-quotation.svg");
  background-size: auto;
  background-position: right 5vw top 0;
  background-repeat: no-repeat;
  grid-column: 1/3;
  grid-row: 1;
}
.jonathan{
  background-color: var(--grey500);
  grid-column: 3/4;
  grid-row: 1;
}
.jeanette{
  background-color: var(--white);
  grid-column: 1;
  grid-row: 2;
}
.patrick{
  background-color: var(--darkblue);
  grid-column: 2/4;
  grid-row: 2;

}
.kira{
  background-color: var(--white);
  grid-column: 4/5;
  grid-row: 1/3;
}

@media screen and (max-width:40rem){
  main{
    margin: 1.25rem;
  }
  .content{
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1.25rem;
  }
  .card{
    grid-column: 1;
    grid-row:  auto;
  }
  .daniel{
    background-image: none;    
}
}
